EXPO_PUBLIC_SUPABASE_URL=https://hchhqeqlkgknucokvxec.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjaGhxZXFsa2drbnVjb2t2eGVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzNjM5NjYsImV4cCI6MjA3MzkzOTk2Nn0.5OQ1d5brht8h4jQKdbVyKm3aJkkef-RFxrPXNSAuVyc